<% provide(:title, 'Projects') %>
<h1>Projects</h1>
<p>
 As a recent grad, I have worked on projects in various engineering topics. I have listed some of the more noteworthy projects here:
 <br>
 <br>
 <a href="http://aux.coe.utsa.edu/~Team03/">My senior design project</a> was a local indoor positioning system for precise small-scale positioning. We incorporated a Wii infrared camera and ultrasonic rangefinder into a pan/tilt system to accurately track a infrared target.
 <br>
 <br>
 In VLSI and computer architecture, I designed the layouts and photomasks for multiple MOSFET designs. In verilog I also designed a working Pipelined MIPS Processor.
</p>