<% provide(:title, 'Resume') %>
<h1>Resume</h1>
<p>
My resume can be found here in text form:
<br>
<a href="Bryce_resume.txt">My Resume (plain text)</a>
<br>
<br>
My resume can be found here in .pdf form:
<br>
<a href="Bryce_Resume.pdf">Resume (PDF)</a>
</p>
