<footer class="footer">
  <small>
    Special thanks to
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl and to <a href="http://engineering.utsa.edu/~krishnan/">Dr. Ram Krishnan</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Resume",   resume_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>